<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  
  <h1>Confirm Membership </h1>


  
  <form action="" method="POST">
    <label for="passcode">Please add the secret passcode</label>
    <input name="passcode" placeholder="passcode" type="text" />
    <button>Confirm membership </button>
  </form>


    <p style="color: red;"><%= errorMessage %></p>

</body>
</html>